# Python Tutorial
## Welcome
- Datatypes

In [2]:
#binary literal
a = 0b1010 

#decimal literal
b = 100

#Octal literal
c = 0o310

#Hexadecimal literal
d = 0x12c

#Float literal
float_1 = 10.5
float_2 = 1.5e2

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

In [3]:
strings = "This is python"
char = "C"
multiline_str = """This is a multiline string with more than one line code """
unicode = u"\u00dcnic\u00f6de"
raw_str = r"raw \n string"

print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
C
This is a multiline string with more than one line code
Ünicöde
raw \n string

In [2]:
x = (1 == True)
y = (1 == False)
a = True + 4
b = False + 10

print("x is",x)
print("y is",y)
print("a:", a)
print("b:", b)

x is True
y is False
a: 5
b: 10

In [3]:
drink = "Available"
food = None
def menu(x):
    if x == drink:
        print(drink)
    else:
        print(food)
menu(drink)

Available

In [4]:
menu(food)

None

In [ ]:
numbers = (1, 2, 3) #Tuple

In [6]:
#Doc string
def double(num):
    """Function to double the value"""
    return 2*num
print(double.__doc__)

Function to double the value

## Numeric

In [2]:
a = 5
print(a, "is of type", type(a))
# by using type(of variable), it gives you type of variable.
# integer can be of any length

5 is of type <class 'int'>

In [3]:
b = 2.0
print(b, "is of type", type(b))
# floating pt number is accurate upto 15 decimal places

2.0 is of type <class 'float'>

In [6]:
c = 1+2j
print(c, "is of type", type(c))

(1+2j) is of type <class 'complex'>

In [7]:
d = 2+3j
print(d, "is complex number?", isinstance(d, complex))

(2+3j) is complex number? True

In [8]:
a = 1234567890123456789
a

1234567890123456789

In [9]:
b = 0.1234567890123456789
b

0.12345678901234568

## strings data type
## Strings

In [10]:
s = "this is string"
print(s)

this is string

In [11]:
s = '''A 
multiline 
string'''
print(s)

A
multiline
string

In [12]:
s = "Hello World"
print("s[4]:", s[4])

s[4]: o

In [13]:
print("s[6:11] =", s[6:11]) #last 11, is not counted, it will print till 10 only

s[6:11] = World

In [14]:
s[5] = 'd' # strings are immutable, that is it cannot be changed

TypeError: 'str' object does not support item assignment