### Tuple
- A tuple in python is similar to a list. List is enclosed between [] and tuple enclosed between (). We can not change the elements once it is assigned to a tuple, i.e. it is immutable. Liost is mutable.

In [1]:
# tuple can have different data types separated by commas, enclosed under ().
tuple = ('FACE', 2.097,'Python', 26.8, 5)

In [3]:
# different types of tuple

# rmpty tuple
T = ()
print(T)

# tuple having integers
T = (1,2,3,4,5)
print(T)

# tuple with mixesd datatypes
T = (1, 'hello', 3.4)
print(T)

# nested tup;le
T = ('mouse', (1,2,3,4), [5,6,7])
print(T)

()
(1, 2, 3, 4, 5)
(1, 'hello', 3.4)
('mouse', (1, 2, 3, 4), [5, 6, 7])

- A tuple can also be created without using parenthesis. THis is known as " Tuple Packing"

In [4]:
# exampl;e :
my_tuple = 3,4.5,'dog' # () is not mandatory

# tuple unpacxking is also possible 
a,b,c = my_tuple

print(a)
print(b)
print(c)

3
4.5
dog

In [5]:
# tuple should have , after element 

t1 = 5 
print(type(t1))

t2 = 5,
print(type(t2))

t3 = (5)
print(type(t3))

t4 = (5,)
print(type(t4))

<class 'int'>
<class 'tuple'>
<class 'int'>
<class 'tuple'>

In [6]:
# accessing tuple

my_tuple = ('p','r','e','m','i','t')

print(my_tuple[0])
print(my_tuple[5])

print("last index:", len(my_tuple)-1)
print("last element: ", my_tuple[len(my_tuple)-1])

p
t
last index: 5
last element:  t

In [2]:
# Changing a tuple: tuples are immutable but if the element is mutable data type then its items can be changed

my_tuple = (4,2,3,[6,5])

# my_tuple[1] = 9 # 'tuple' object does not support item assignment

# however, item of mutable element can be changed
my_tuple[3][0] = 9
print(my_tuple)

(4, 2, 3, [9, 5])

In [4]:
# tuple name can be re-assigned
my_tuple = ('p','r','o','g','r','a','m','i','n','g')
print(my_tuple)

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'n', 'g')

In [6]:
# deleleting the tuple element
# 'tuple' object doesn't support item deletion
my_tuple = ('p','r','o','g','r','a','m','i','n','g')

del my_tuple[3]

TypeError: 'tuple' object doesn't support item deletion

In [7]:
# but it can delete entire tuple

del my_tuple
print(my_tuple)

NameError: name 'my_tuple' is not defined

- Tuple(seq): The tuple() method converts a list of items into tuples

In [8]:
# example :

s = "helloworld"
t1 = tuple(s)
list = [1,2,3]
t2 = tuple(list)

print(t1)
print(t2)

('h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd')
(1, 2, 3)

In [9]:
my_tuple = ('p','r','o','g','r','a','m','i','n','g')

index = my_tuple.index('i')
print('The index of e:', index)

index = my_tuple.index('i', 4)
print("the index of i:", index)

index = alphabets.index('i', 3, 5)
print("the index of i:", index)

The index of e: 7
the index of i: 7

NameError: name 'alphabets' is not defined