# List Data Structure

In [1]:
L = [4,8,9,12,11]
L

[4, 8, 9, 12, 11]

In [3]:
list1 = [12,5.67,'A']
list1

[12, 5.67, 'A']

In [4]:
list2 = ['eng', 'hindi', 'maths', 'sci', 'sst']
list2

['eng', 'hindi', 'maths', 'sci', 'sst']

In [5]:
L[2] = 10
L

[4, 8, 10, 12, 11]

### List Methods and Built-in functions

In [6]:
# len(): counts and returns total no of elements in a list as length

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst']
len(list2)

5

In [10]:
# list(): create an empty or list with items

L = list()
L

[]

In [11]:
L = list("techtinow")
L

['t', 'e', 'c', 'h', 't', 'i', 'n', 'o', 'w']

In [12]:
# append(): appends an item or list of item as single element at the end of list

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst']
list2.append('GK')
list2

['eng', 'hindi', 'maths', 'sci', 'sst', 'GK']

In [13]:
list1 = ['PE', 'IT']
list2.append(list1)
list2

['eng', 'hindi', 'maths', 'sci', 'sst', 'GK', ['PE', 'IT']]

In [14]:
# extends(): appends each item of the list individually at the end of list

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst']
list1 = ['PE', 'IT']
list2.extend(list1)
list2

['eng', 'hindi', 'maths', 'sci', 'sst', 'PE', 'IT']

In [15]:
# insert(): insert an item at a particular index in the list

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst']
list2.insert(3,'GK')
list2

['eng', 'hindi', 'maths', 'GK', 'sci', 'sst']

In [16]:
# count(): count and returns a particular item in a given list

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst', 'GK', 'GK']
list2.count('GK')

2

In [17]:
# index(): return index of the first occurrence of the item in the list. if item is not found, value error is displayed

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst', 'GK', 'GK']
list2.index('GK')

5

In [20]:
# remove(): removes the first occurrence of item in the given list. if no item is found, value error is displayed

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst', 'GK', 'GK']
list2.remove('GK')
list2

['eng', 'hindi', 'maths', 'sci', 'sst', 'GK']

In [21]:
# pop(): removes the first oocurrence of item in the given list. if no item is found, value error is displayed

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst', 'GK', 'GK']
list2.pop()

'GK'

In [22]:
list2 = ['eng', 'hindi', 'maths', 'sci', 'sst', 'GK', 'GK']
list2.pop(3)

'sci'

In [24]:
# reverse(): it reverses the order of element in the given list

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst', 'GK', 'GK']
list2.reverse()
list2

['GK', 'GK', 'sst', 'sci', 'maths', 'hindi', 'eng']

In [26]:
# sort(): it arranges the items of the list in ascending or descending order

list2 = ['eng', 'hindi', 'maths', 'sci', 'sst', 'gk', 'gk']
list2.sort()
list2

['eng', 'gk', 'gk', 'hindi', 'maths', 'sci', 'sst']

In [27]:
L1 = [12,9,10,55,2]
L1.sort(reverse = True)
L1

[55, 12, 10, 9, 2]

In [28]:
# sorted(): it takes a list as parameter and creates a new list consisting of the same elements arranged in sorted order
L1 = [12,9,10,55,2]
L2 = sorted(L1)
L1

[12, 9, 10, 55, 2]

In [29]:
L2

[2, 9, 10, 12, 55]

In [33]:
# min(): returns smallest element in given list

# max(): returns largest element in given list

# sum(): returns sum of all the elements in the given list

L1 = [12,9,10,55,2]
min(L1)

2

In [34]:
max(L1)

55

In [35]:
sum(L1)

88

In [36]:
# Nested List: one list can appears inside another list

L = [1, 34, ['a','b'],45]
L

[1, 34, ['a', 'b'], 45]

In [37]:
L1 = [12,22.3]
L2 = [L,L1]
L2

[[1, 34, ['a', 'b'], 45], [12, 22.3]]

In [1]:
# Example 

# empty list, no item in the list
my_list = []
print(my_list)
print(len(my_list))

# list of integers
my_list1 = [1,2,3]
print(my_list1)

# list with mixed data types
my_list2 = [1,"hello", 3.4]
print(my_list2)

# nested list 
my_list3 = ["mouse", [9,3,6], ['a']]
print(my_list3)

my_list5 = [1,2,3,4,4.5,'helloworld','X']
print(my_list5)

[]
0
[1, 2, 3]
[1, 'hello', 3.4]
['mouse', [9, 3, 6], ['a']]
[1, 2, 3, 4, 4.5, 'helloworld', 'X']

In [3]:
# example: list indexing

my_list = ['p','r','o','b','e']

print(my_list[0])
print(my_list[2])
print(my_list[4])

# nested list
n_list = ["Happy", [2,0,1,5]]

# nested indexing
print(n_list[0][1])
print(n_list[1][3])

print(my_list[4.0]) # type error, not float

p
o
e
a
5

TypeError: list indices must be integers or slices, not float

### Add/change list elements

- Lists are mutable, meaning their elements can be changed unlike string or tuple
- we can use the assignment operator (=) to change an item or a range of items

In [4]:
# ecample : correcting mistake values in a list

odd = [2,4,6,8]

odd[0] = 1
print(odd)

odd[1:4] = [3,5,7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [5]:
# excample:

data1=[5,10,15,20,25]
print(data1)

data1[2]="Multiple of 5"
print(data1)

[5, 10, 15, 20, 25]
[5, 10, 'Multiple of 5', 20, 25]

- we can add one item to a list using the append() method or add several items using extend() method.

In [15]:
# example : appending and extending lists in python

odd = [1,3,5]

odd.append(7)
print(odd)

odd.extend([9,11,13])
print(odd)

odd.append([5,6,7])
print(odd)

odd.extend([5,6,7])
print(odd)

odd.sort
print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13, [5, 6, 7]]
[1, 3, 5, 7, 9, 11, 13, [5, 6, 7], 5, 6, 7]
[1, 3, 5, 7, 9, 11, 13, [5, 6, 7], 5, 6, 7]

In [17]:
# example :

list1 = ['a','b','c']
list1.append(1.5)
list1.append('x')
list1.append(['y','z'])
print(list1)

['a', 'b', 'c', 1.5, 'x', ['y', 'z']]

- we can also use + concatanation operator to combine two lists.
- but you cannot combine list and string

In [19]:
# example :
list1 = ['a','b','c'] # this is list
a = 'x' #this is string

print(list1+a)

TypeError: can only concatenate list (not "str") to list

Note: + operator implies that both the operands passed must be list else error will be shown

we can insert one item at a desired location by using the method insert() or insert multiple items by squeezing it into an empty slice of a list

In [1]:
# example: demonstration of list insert() method 

odd = [1,9]
odd.insert(1,3)
print(odd)

[1, 3, 9]

In [3]:
odd[2:2] = [5,7] # odd[at 2nd index : no of times]
print(odd)

[1, 3, 5, 7, 5, 7, 9]

### Delete/ Remove List Elements

we can delete one or more items from a list using the keyword del. It can even delelte the list entirely.

In [7]:
# excample

my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

del my_list[2]
print(my_list)

del my_list[1:5]
print(my_list)

del my_list
print(my_list) # my_list has been deleted

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

NameError: name 'my_list' is not defined

In [8]:
# example 

list1=['a','b','c']
print("data in list: ", list1)

del(list1[2])
print("new data in list: ", list1)

data in list:  ['a', 'b', 'c']
new data in list:  ['a', 'b']

we can use remove() method to remove the given item or pop() method to remove an item at the given index
the pop() method removes and returns the last item if the index is not provided. this helps us implement lists as stacks ( first in, last out data structure)
we can also use the clear() method to empty a list.

In [9]:
# example 

my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

print(my_list)
print(my_list.pop(1))
print(my_list)
print(my_list.pop())
print(my_list)

my_list.clear()
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

finally, we can also delete items in a list by assigning an empty list to a slice of elements

In [13]:
# example

my_list = ['p','r','o','b','l','e','m']

my_list[2:3] = [] # 3 is not included. [2] assigned to empty list
print(my_list)

my_list[2:-2] = [] # -2 not ioncluded., b and l is popped
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'r', 'e', 'm']

### python built-in list functions

Built-in functions like all(), any(), sorted(), min(), max(), len(), cmp(), list(), etc are commonly used with dictionaries to perform different tasks.

### all(): returns True if all keys of the list are True. If not, it returns False

In [2]:
# exca,ple how all() works for lists?

i = [1,3,4,5]
print(all(i))

i = [0, False]
print(all(i))

i = [1,3,4,0]
print(all(i))

i = [0, False, 5]
print(all(i))

i = []
print(all(i))

True
False
False
False
True

### any(): returns True if any key of the list is true, If not, it returns false

In [7]:
# example: True since 1,3,4 and 5 (at least one) is true.

l = [1,3,4,0]
print(any(l))

l = [0, False]
print(any(l))

l = [0, False, 5]
print(any(l))

l = []
print(any(l))

True
False
True
False

### sorted(dict): the sorted() function sorts the elements of a given iterable in a specific order (either ascending or descending) and returns the sorted iterable as a list.

In [12]:
# example: vowels list

py_list = ['e','a','u','o','i']
print(sorted(py_list)) # ascending order

['a', 'e', 'i', 'o', 'u']

In [13]:
print(sorted(py_list, reverse=True)) #descending order

['u', 'o', 'i', 'e', 'a']

### min(list): the function is used to get the min value from the list. In python3 lists element's type should be same otherwise compiler throw type error

In [16]:
# example:

list1 = ['a','b','c']
list2 = [1,2,3]
lis3 = ['a','b','c',1,2,3]

print(min(list1))
print(min(list2))
print(min(list3)) # typeerror: '<' not supported between instances of 'int' and 'str'

a
1

NameError: name 'list3' is not defined

### max(list): the max() function returns the elements from the list with maximum value

In [19]:
# example :

list1 = [1,2,3]
list2 = ['a','b','c']
list3 = [1,2,3,'a','b','c']

print(max(list1))
print(max(list2))
print(max(list3))

3
c

TypeError: '>' not supported between instances of 'str' and 'int'

### len(list): the len() function returns the number of elements in the list

In [20]:
# example 

list1 = ['a','b','c']
list2 = []
list3 = ['a','b','c',1,2,3]

print(len(list1))
print(len(list2))
print(len(list3))

3
0
6

### Python list methods

#### Function--------Description
##### append()-------Adds an element to the end of the list
##### extend()-------Adds all the elements of an iterable (list, tuple, string etc) to the end of the list. all letter as different elements
##### insert()-------add an element to the list at the specified index
##### remove()-------removes the first matching element(which is passed as an argument) from the list 
##### pop()----------removes the item at the given index from the list and returns the same
##### clear()--------removes all items from the list
##### index()--------returns the index of the specified element in the list
##### count()--------returns the number of times the specified element appears in the list 
##### sort()---------sorts the elements of a given list in a specific ascending or descending order
##### reverse()------reverses the elements of the list
##### copy()---------returns a shallow copy of the list

In [28]:
# example of append

list1 = [1,2,3]
list1.append(4)
list1.append('helloworld')
list1.append(['a','b','c'])
# list1.append('x','y','z') # TypeError: ;list takes exactly one argument, 
print(list1)

[1, 2, 3, 4, 'helloworld', ['a', 'b', 'c']]

In [29]:
# example of extend

list1 = [1,2,3]
list1.extend([4]) # int also has to be extended as list, as list can have str and int
list1.extend('helloworld')
list1.extend(['a','b','c'])
#list1.extend('x','y','z') # TypeError: extend takes exactly one argument, 
print(list1)

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o', 'w', 'o', 'r', 'l', 'd', 'a', 'b', 'c']

In [30]:
# example of insert

list1 = ['helloworld', 'python', 'java', 'c++', 1,2,3]
list1.insert(3, 'c#')
print(list1)

['helloworld', 'python', 'java', 'c#', 'c++', 1, 2, 3]

In [31]:
# example of index():

list1 = ['helloworld', 'python', 'java', 'c++', 1,2,3]
print("index of java: ", list1.index('java'))

index of java:  2

In [32]:
# example of reverse 

list1 = ['helloworld', 'python', 'java', 1, 2, 3]
list1.reverse()
print(list1)

[3, 2, 1, 'java', 'python', 'helloworld']

In [33]:
# example of copy()

list1 = ['helloworld', 'python', 'java', 'c++', 1, 2, 3]
list2 = list1.copy()
print("list1 is ", list1)
print("list2 is ", list2)

list1 is  ['helloworld', 'python', 'java', 'c++', 1, 2, 3]
list2 is  ['helloworld', 'python', 'java', 'c++', 1, 2, 3]

### list comprehension: elegant and concise way to create new list from an existing list in python
- list comprehension consists of an expression followed by 'for' loop inside square brackets
- List comprehension is considerably faster than processing a list using the 'for loop'

In [34]:
# here is the example to make a list with each item being increasing power of 2

pow2 = [2 ** x for x in range(10)]
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [35]:
# the above code is equivalent to:

pow2 = []
for x in range(10):
    pow2.append(2 ** x)
print(pow2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

- a list comprehension can optionally contain more for or if statements. an optional if statement can filter out items for the new list. Example:

In [36]:
pow2 = [2 ** x for x in range(10) if x>5]
pow2

[64, 128, 256, 512]

In [37]:
odd = [x for x in range(20) if x % 2 == 1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [39]:
[x+y for x in ['Python', 'C'] for y in [' Language', ' Programming']]

['Python Language', 'Python Programming', 'C Language', 'C Programming']

### Other list operations in python

1. List membership test
- we can test if an item exists in a list or not, using the keyword 'in'.

In [40]:
my_list = ['p','r','o','b','l','e','m']

# output: True or false
print('p' in my_list)
print('z' in my_list)
print('x' not in my_list)

True
False
True

2. Iterating through a list
- using for loop we can iterate through each item in a list.

In [41]:
for fruit in ['apple', 'banana', 'mango']:
    print("i like ", fruit)

i like  apple
i like  banana
i like  mango

3. Other list operations in python
- Using a 'for' loop we can iterate through each item in a list:

In [42]:
list1 = ['a', 'b', 'c', 1, 2, 3]
for i in list1:
    print(i)

a
b
c
1
2
3

### list comprehension vs string vs for loop in python
Suppose, we want to separate the letters of the word Python and add the letters as items of a list.
The first thing that comes in mind would be using String.

In [45]:
# example 1: Converting string to a list 
# method 1:
language = "python"
lst = list(language)

print(lst)
print(type(lst))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

The second thing that comes in mind would be using for loop.

In [47]:
# example 1: iterating through a string using for loop
# method 2:

p_letters = []

for letters in language:
    p_letters.append(letters)
print(p_letters)
print(type(p_letters))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

Let's see how the above program can be written using list comprehension

In [48]:
# example 1: iterating through a string using list comprehension
# method 3:

p_letters = [letter for letter in 'python']
print(p_letters)
print(type(p_letters))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

syntax for above code is:
[expression for item in list] = [letter for letter in 'python']

If you notice, python is a string, not a list. This is the power of list comprehension. It can identify when it receives a string, tuple and work on it like a list

### Conditionals in List Comprehension
For instance if you want to generate a list of numbers

In [49]:
# example 2:
# method 1: generating numbers

number = [i for i in range(11)]
print(number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
# method 2: Mathematical operations during iteration

squares = [i * i for i in range(11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
# method 3: it is also possible to make list of tuples

numbers = [(i, i * i) for i in range(11)]
print(numbers)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

In [52]:
# generating even numbers

ever_numbers = [i for i in range(30) if i % 2 == 0]
print(ever_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [53]:
# generating odd numbers

odd_numbers = [i for i in range(30) if i % 2 == 1] # if i % 2 != 0 will also work
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [54]:
# filter numbers: positive even numbers from list given below

numbers = [-8,-7,-3,-1,0,1,2,3,4,5,7,6,8,10]
filter_numbers = [i for i in numbers if i % 2 == 0 and i>0]
print(filter_numbers)

[2, 4, 6, 8, 10]

In [55]:
# flattening a three dimensional array

list_of_lists = [[1,2,3],[4,5,6],[7,8,9]]
flatten_list = [i for row in list_of_lists for i in row]
print(flatten_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
# x+y from two list
[x+y for x in ['python ', 'c++ '] for y in ['language', 'programming']]

['python language', 'python programming', 'c++ language', 'c++ programming']

In [59]:
# example: Nested "if" with list comprehension

num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [61]:
# example: if else with list comprehension

obj = ["Even" if i % 2 == 0 else "odd" for i in range(10)]
print(obj)

['Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']

### list comprehension vs lambda functions

### Lambda Function
lambda function is a small anonymous function without a name. It can take any number of arguments, but can only have one expression. Lambda functiuon is similar to anonymous function in JavaScript. We need it when we want to write an anonymous function inside another function.

### creating a lambda function
To create a lambda function we use 'lambda' keyword followed by a parameters, followed by an expression. See the syntax and examp[le. lambda function does not use return but it explicilty returns the expression.

**syntax:**
x = lambda param1, param2, param3: param1 + param2 + param3
print(x(arg1, arg2, arg3))

In [62]:
x = lambda param1, param2, param3: param1 + param2 + param3
print(x(arg1, arg2, arg3))

NameError: name 'arg1' is not defined

In [63]:
# named function
def add_two_nums(a,b):
    return a+b
print(add_two_nums(2,3))

5

In [64]:
# lets change above function to lambda function

add_two_nums = lambda a,b:a+b
print(add_two_nums(2,3))

5

In [66]:
# self invoking lambda function  # best
(lambda a,b:a+b)(2,3)

5

In [67]:
square = lambda a:a**2
print(square(3))
(lambda b:b**3)(3)

9

27

In [68]:
# multiple variables

multiple_variable = lambda a, b, c : a ** 2 - 3 * b + 4 * c
print(multiple_variable(5, 5, 3))

22

In [69]:
### Lambda function inside another function

def power(x):
    return lambda n : x ** n

cube = power(2)(3) 
print(cube)

8

In [70]:
quad = power(2)(4)
print(quad)

16

In [71]:
# using lambda inside list

letters = list(map(lambda x: x, 'python'))
print(letters)

['p', 'y', 't', 'h', 'o', 'n']

### Nested loop in list comprehension
Suppose we need to compute the transpose of a matrix that requires nested for loop

In [72]:
# example: transpose of matrix using nested loops

transposed = []
matrix = [[1,2,3,4], [5,6,7,8]]

for i in range(len(matrix[0])):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
print(transposed)

[[1, 5], [2, 6], [3, 7], [4, 8]]

In [73]:
# example: transpose of a matrix using list comprehension

matrix = [[1,2],[3,4],[5,6],[7,8]]
transpose = [[row[i] for row in matrix] for i in range(2)]
print(transpose)

[[1, 3, 5, 7], [2, 4, 6, 8]]

In [74]:
l = [None] * 10
print(len(l))

10