In [1]:
print(888)
print(type(888))

print("888")
print(type("888"))

888
<class 'int'>
888
<class 'str'>

In [2]:
# Unpacking Characters

language = 'Python'
a,b,c,d,e,f = language #unpacking sequence characters into variables
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

P
y
t
h
o
n

In [4]:
first_letter = language[0]
print(first_letter)

second_letter = language[1]
print(second_letter)

last_index = len(language)-1
last_letter = language[last_index]
print(last_letter)

P
y
n

In [10]:
# Here, we are creating a simple program to retrieve string in reverse as well as normal form.

name = "My Analytical School"
length = len(name)
# print(length)

i = 0 # i starting from 0

for n in range(-1, (-length-1), -1): # n iterating from back
    print(name[i], "\t", name[n])
    i+=1

M 	 l
y 	 o
  	 o
A 	 h
n 	 c
a 	 S
l
y 	 l
t 	 a
i 	 c
c 	 i
a 	 t
l 	 y
  	 l
S 	 a
c 	 n
h 	 A
o
o 	 y
l 	 M

In [1]:
s = "123456789" # indexing starts from 0 to 8

print("The string '%s' string is %d characters long" %(s,len(s))) # by using % we define s and len(s)
print("First Character of",s,'is',s[0])
print("Second Character of",s,'is',s[1])
print("Last Character of",s,'is',s[-1])
print("Last Character of",s,'is',s[8])
print("Last Character of",s,'is',s[len(s)-1])
print("First Character of",s,'is',s[-len(s)]) # len(s) = 9

The string '123456789' string is 9 characters long
First Character of 123456789 is 1
Second Character of 123456789 is 2
Last Character of 123456789 is 9
Last Character of 123456789 is 9
Last Character of 123456789 is 9
First Character of 123456789 is 1

In [5]:
print("First three char:", s[:3])
print("Next three char:", s[3:6])
print("Last three char:", s[-3:])

First three char: 123
Next three char: 456
Last three char: 789

### Breaking appart strings

In [4]:
s = "one-two-three"
print(s.partition("-")) #breaks the string into three parts based on a separator
print(s.split())
print(s.split("-"))
print("<".join(s.split("-")))

('one', '-', 'two-three')
['one-two-three']
['one', 'two', 'three']
one<two<three

In [10]:
s = "This will split all words into a list"
print(s.split())

['This', 'will', 'split', 'all', 'words', 'into', 'a', 'list']

In [11]:
" ".join(s.split())

'This will split all words into a list'

In [12]:
"Happy New Year".find('ew')

7

In [13]:
"Happy New Year".replace("Happy", "Brilliant")

'Brilliant New Year'

### Change or Delete a string

In [14]:
my_string = "Python"
my_string[5] = "a"

TypeError: 'str' object does not support item assignment

In [17]:
s = "012345"
sX = s[0:2]+'X'+s[3:] # this creates a new string sX with X replacing 2.
print("New string sX with 2 replaced by X is", sX)

New string sX with 2 replaced by X is 01X345

In [21]:
sX = s.replace('2', 'X')
print("Another way to create sX:", sX)

Another way to create sX: 01X345

In [22]:
my_string = "python"
del my_string[2] # deleting element of a string gives error

TypeError: 'str' object doesn't support item deletion

In [23]:
my_string = "python"
del my_string

In [24]:
my_string

NameError: name 'my_string' is not defined

this tells that my_string doesnot exist

### Concatenation (+ operator)
Joining of two or more strings into a single one is called concatenation

In [25]:
# concatenation
a = "Hello"
b = "World!"
print(a+b)
print(a+" "+b)

HelloWorld!
Hello World!

In [26]:
print("HelloWorld" + 99)

TypeError: can only concatenate str (not "int") to str

can only concatenate str (not "int") to str

### Replication Operator(*)

In [28]:
print("Hello" * 3)
print(2 * "OK ")

HelloHelloHello
OK OK

If we want to concatenate strings in different lines, we can use parentheses()

In [29]:
# two string literals together

'Hello ''World! '

'Hello World! '

In [31]:
# using parentheses
s = ('Hello '
     'World')
s

'Hello World'

In [32]:
# Iterate through a string

count = 0

for i in s:
    if (i == 'l'):
        count +=1
print(count, '"l" letters found')

3 "l" letters found

In [34]:
# example of membership operators

str1 = "HelloWorld"
str2 = "Hello"
str3 = "World"
str4 = "Milan"

print('Example of IN and NOT IN operator:')
print(str2 in str1)
print(str3 in str1)
print(str4 in str1)
print()
print(str2 not in str1)
print(str3 not in str1)
print(str4 not in str1)

Example of IN and NOT IN operator:
True
True
False

False
False
True

In [36]:
# relational operators

print(7==7)
print(7>=6)
print(7<8)
print(8>9)

True
True
True
False

ASCII value of 
1) a is 97
2) b is 98
3) c is 99 and so on

1) A is 65
2) B is 66
3) C is 67 and so on

### % operators

In [39]:
string1 = "World!"
print("Hello %s" % string1)
print("Actual Number = %d" %19)
print("Neeraj's PB Throw = %f" %89.45)
print("Octal equivalent of the number '19' = %o" %19)
print("Hexadecimal equivalent of the number '19' = %x" %19)
print("Exponential equivalent of the number '19' = %e" %19)

Hello World!
Actual Number = 19
Neeraj's PB Throw = 89.450000
Octal equivalent of the number '19' = 23
Hexadecimal equivalent of the number '19' = 13
Exponential equivalent of the number '19' = 1.900000e+01

In [42]:
string2 = ":)"
print("Hello %s %s. My Name is Nitish, you can call me %d." %(string1, string2,7))

Hello World! :). My Name is Nitish, you can call me 7.

we can also specify the width of the field and the number of decimal places to be used. for example :

In [4]:
print('print width 10: |%10s|'%'x') #right justified
print('print width 10: |%-10s|'%'x') # left justified
print('The number pi = %.1f Pi to 1 decimal places'%3.1415)
print('The number pi = %.2f Pi to 2 decimal places'%3.1415)
print('More space pi = %10.2f'%3.1415) # %10 gives gaps
print('Pad pi with 0 = %010.2f'%3.1415) # %010 fills gap with 0

print width 10: |         x|
print width 10: |x         |
The number pi = 3.1 Pi to 1 decimal places
The number pi = 3.14 Pi to 2 decimal places
More space pi =       3.14
Pad pi with 0 = 0000003.14

### Some Built-In Functions

In [5]:
str = 'cold'

list_enumerate = list(enumerate(str))
print('list(enumerate(str)) = ', list_enumerate)

print('len(str) = ', len(str))

list(enumerate(str)) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]
len(str) =  4

### Escape Sequences

In [7]:
# using triple quotes
print(''' He said, "What's there?" ''')
# Single and double quote inside single quote
print(' He said, "What\'s there?" ')
# Double quote inside double qoutes
print(" He said, \"What\'s there?\" ")

 He said, "What's there?"
 He said, "What's there?"
 He said, "What's there?"

In [9]:
print('I hope everyone enjoying the python tutorials.\nDo you?') # \n -> new line
print('Days\tChapters\tTopics') # \t -> horizontal tab spaces
print('Day 1\tChp 1\t\tPython_Introduction')
print('Day 2\tChp 2\t\tPython_Datatypes')
print('Day 3\tChp 3\t\tPython_Flow control')
print('Day 4\tChp 4\t\tPython_Functions')
print('Day 5\tChp 5\t\tPython_Files')
print('This is the backslash symbol (\\)') # To write backslash

I hope everyone enjoying the python tutorials.
Do you?
Days	Chapters	Topics
Day 1	Chp 1		Python_Introduction
Day 2	Chp 2		Python_Datatypes
Day 3	Chp 3		Python_Flow control
Day 4	Chp 4		Python_Functions
Day 5	Chp 5		Python_Files
This is the backslash symbol (\)

In [10]:
print("This is \x48\x45\x58 representation")

This is HEX representation

In [11]:
# Using Raw String to ignore escape sequences
print("This is \x61 \nGood Example")
print(r"This is \x61 \nGood Example")

This is a
Good Example
This is \x61 \nGood Example

### format() method

In [12]:
# python string formatting method
# default implicit order
default_order = "{}, {} and {}".format('allen', 'will', 'smith')
print("\n---default order---")
print(default_order)

---default order---
allen, will and smith

In [16]:
# order using positional argument
position_order = "{1}, {0} and {2}".format("allen", "will", "smith")
print("---positional order---")
print(position_order)

---positional order---
will, allen and smith

In [17]:
# order using keyword argument
keyword_order = "{s}, {b} and {j}".format(j="allen", b="will", s="smith")
print("---Keyword Order---")
print(keyword_order)

---Keyword Order---
smith, will and allen

In [18]:
# formatting integers
"Binary representation of {0} is {0:b}".format(12)

'Binary representation of 12 is 1100'

In [19]:
# formatting floats
"Exponent representation: {0:e}".format(1966.365)

'Exponent representation: 1.966365e+03'

In [20]:
# round off
"one third is:{0:.3f}".format(1/3)

'one third is:0.333'

In [21]:
# string alignment
"|{:<10}|{:^10}|{:>10}|".format('bread', 'butter', 'jam')

'|bread     |  butter  |       jam|'

In [22]:
x = 36.3456789
print("The value of x is %3.2f" %x)

The value of x is 36.35

In [23]:
print("The value of x is %3.4f" %x)

The value of x is 36.3457

### Examples

In [24]:
s = "heLLo woRLd!"
print(s.capitalize(), "vs", s.title())

Hello world! vs Hello World!

In [25]:
print("upper case: '%s'"%s.upper(),
      "lower case: '%s'"%s.lower(),
      "swapped case: '%s'"%s.swapcase()) #upper <--> lower

upper case: 'HELLO WORLD!' lower case: 'hello world!' swapped case: 'HEllO WOrlD!'

In [27]:
print('|%s|'% "Hello World".center(30)) # center in 30 characters
print('|%s|'% "      lots of space     ".strip()) # strip off gaps from both the sides
print('%s without leading/trailing d,h,L or ! = |%s|', s.strip("dhL!"))
print("Hello World".replace("World","Class"))

|         Hello World          |
|lots of space|
%s without leading/trailing d,h,L or ! = |%s| eLLo woR
Hello Class

In [28]:
# count() : returns occurrences of substring in string, syntax: count(substring, start=.., end=..)
challenge = 'python datatypes'
print(challenge.count('y'))
print(challenge.count('y', 6, 15))
print(challenge.count('ty'))

2
1
1

In [30]:
# endswith() : checks if a string ends with a specified ending

challenge = 'python datatypes'
print(challenge.endswith('es'))
print(challenge.endswith('type'))

True
False

In [36]:
# expandtabs() : replaces tab character with spaces, default tab size is 8. it takes tab size argument

challenge = 'python\tdatatypes'
print(challenge.expandtabs())
print(challenge.expandtabs(10))

python  datatypes
python    datatypes

In [41]:
# find() : returns the index of first occurrence of substring

challenge = 'python datatypes'
print(challenge.find('thon'))
print(challenge.find('d'))
print(challenge.find('s'))
print(challenge.find('u'))

2
7
15
-1

In [42]:
# format() : formats string into a nicer output

first_name = "Milaan"
last_name = "Parmar"
job = "lecturer"
country = "Finland"
sentence = "I am {} {}. I am a {}. I live in {}.".format(first_name, last_name, job, country)
print(sentence)

I am Milaan Parmar. I am a lecturer. I live in Finland.

In [43]:
# isalnum: returns T/F alphanumeric characters

challenge = "pythonDatatypes"
print(challenge.isalnum())

challenge = "pyth0nDatatypes"
print(challenge.isalnum())

challenge = "python Datatypes"
print(challenge.isalnum())

challenge = "python datatypes 2021"
print(challenge.isalnum())

True
True
False
False

In [44]:
# isalpha(): checks if all characters are alphabets

challenge = "pyth0nDatatypes"
print(challenge.isalpha())

challenge = "pythonDatatype"
print(challenge.isalpha())

challenge = "python datatypes"
print(challenge.isalpha())

False
True
False

In [50]:
# isdigit(): checks digit characters

challenge = 'ninetynine'
print(challenge.isdigit())

challenge = '99'
print(challenge.isdigit())

challenge = "ninety9"
print(challenge.isdigit())

False
True
False

In [46]:
# isdecimal(): checks decimal characters

num = "30"
print(num.isdigit())

num = "30.523"
print(num.isdigit())

True
False

In [47]:
# isidentifier(): CHECKS FOR VALID IDENTIFIER. MEANS, IT CHECK IF A STRING IS A VALID VARIABLE NAME

challenge = '2021pythondatatypes'
print(challenge.isidentifier()) # false, bcz str donot start with number

challenge = 'python_datatypes'
print(challenge.isidentifier())

False
True

In [48]:
# islower(): checks if all alphabets in a string are lowercase

challenge = "python datatypes"
print(challenge.islower())

challenge = "Python_Datatypes"
print(challenge.islower())

True
False

In [49]:
# isupper(): checks if all alphabets in a string are uppercase 

challenge = "Python_Datatypes"
print(challenge.isupper())

challenge = "PYTHON_DATATYPES"
print(challenge.isupper())

False
True

In [51]:
# isnumeric(): checks for numeric characters

num = "90"
print(num.isnumeric())
print("ninety".isnumeric())

True
False

In [52]:
# join(): returns a concatenated string

web_tech = ["HTML", "CSS", "JAVASCRIPT", "REACT"]
result = '#, '.join(web_tech)
print(result)

HTML#, CSS#, JAVASCRIPT#, REACT

In [56]:
# strip(): removes both leading and trailing characters

challenge = " python datatypes "
print(challenge.strip())

python datatypes

In [57]:
# replace(): replaces substring inside

challenge = "python datatypes"
print(challenge.replace('datatypes', 'data-types'))

python data-types

In [58]:
#split(): splits string from word

challenge = "python datatypes"
print(challenge.split())

['python', 'datatypes']

In [59]:
# title(): returns a title cased string

challenge = "python datatypes"
print(challenge.title())

Python Datatypes

In [60]:
# startswith(): checks if string starts with the specified string

challenge = "python datatypes"
print(challenge.startswith("python"))

challenge = "datatypes of python"
print(challenge.startswith("python"))

True
False

In [62]:
# swapcases(): checks if string starts with the specified string

challenge = "python datatypes"
print(challenge.swapcase())

PYTHON DATATYPES

In [63]:
# examples 

s = "Hello World"
print("The length of '%s' is"%s,len(s), "characters")

print(s.startswith("Hello") and s.endswith("World"))

print("There are %d 'l's but only %d world in %s" % (s.count('l'),s.count('World'),s))

print('"el" is at index', s.find('el'),"in",s)

The length of 'Hello World' is 11 characters
True
There are 3 'l's but only 1 world in Hello World
"el" is at index 1 in Hello World